{:width   100
 :style   [:respect-nl :justified]
 :list    {:constant-pair? true}
 :binding {:justify? true
           :justify  {:max-variance 40}}
 :map     {:comma?   false
           :justify? true
           :justify  {:max-variance 40}
           :sort?    false}
 :vector  {:respect-nl? true}}
